
<script>
    $(document).ready(function () {
        // $.noConflict();
        $("#Deparmentinfo").DataTable();

    });

    function DeleteButtonclicked(object) {


        bootbox.confirm({
            size: "small",
            message: "Are you sure to delete the selected record?",
            callback: function (result) {

                if (result == true) {
                    jQuery.ajax({
                        url: '/DeparmentInfo/Delete',
                        type: 'POST',
                        dataType: 'json',
                        data: { id: object.id },
                        success: function () {

                            $("#" + object.id).remove();
                        },
                        error: function () {
                            alert('error');
                        }
                    })
                }
                else {
                }
            }
        })
    }
</script>
@model IEnumerable<Installments.Models.DeparmentInfo>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="box">
    <div class="box-header">
        <h3 class="box-title">Deparment Information</h3>
    </div>
    <div class="box-body">
        <button type="button" class="btn btn-primary" onclick="location.href = '/DeparmentInfo/Create'">New</button>

        <br>
        <br>
        <table class="table table-striped" id="Deparmentinfo">

            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.DeparmentTitle)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.InActive)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th></th>
                </tr>
            </thead>

            <tfoot>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.DeparmentTitle)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.InActive)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th></th>
                </tr>
            </tfoot>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr id="@item.DeparmentId">
                        <td>
                            @Html.DisplayFor(modelItem => item.DeparmentTitle)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.InActive)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            <button type="button" class="btn btn-primary" onclick="location.href='/DeparmentInfo/Edit/@item.DeparmentId'">Edit</button>
                            <button type="button" class="btn btn-primary" id="@item.DeparmentId" onclick="DeleteButtonclicked(this)">Delete</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>
